/* reset css */
* {
    margin: 0;
    padding: 0;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3033e8;
}

#menu ul {
    list-style-type: none;
    background-color: #eb1818;
    text-align: center;
    /* width: 100%; */
    overflow: hidden;
}

/* Dung inline */
/* #menu ul li {
    display: inline-block;
    background-color: #51f34f;
    text-align: center;
    width: 100px;
} */

#menu ul li {
    float: left;
    background-color: #51f34f;
    text-align: center;
    width: 100px;
}

#menu ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #f7c223;
}

#menu ul li a:hover {
    background-color: #f05330;
    color: #fcb63c;
    text-decoration: underline;
}