.tab {
    border:1px red solid; 
    text-align: center;
    width: 20%;
    background-color:purple;


    
}
.link {
    width: 100px;
    color:mediumaquamarine;
    text-decoration: none;
}

.link:hover {
    color:pink;
    text-decoration: underline;
}

.tab:hover {
    background-color:blue;
    color:white;
}

.tab.active {
    background-color:blue;
    color:white;
}

.left-side {
    width: 0%;
}

.right-side {
    width: 15%;
}

.main-content {
    width: 85%;
}


/********** Image Component **********/
.image-container {
    overflow: hidden;
    padding: 5px;
    width: 100%;
}

.image-container .focus-image {
    height: 200px;
}

.image-container .focus-image img {
    width: 300px;
}

.image-container.left-image .focus-image {
    float: left;
    padding-right: 5px;
}

.image-container.right-image .focus-image {
    float: right;
    padding-left: 5px;
}

.image-container.center-image .focus-image {
    text-align: center;
    padding-bottom: 5px;
}

.image-container.left-image .description,
.image-container.right-image .description {
    height: 200px;
}

.image-container .description {
    display: flex;
}

/* Custom Focus Image (width and height) */
.custom-focus-image,
.custom-focus-image img {
    height: 500px !important;
}
.custom-focus-image img {
    width: 1000px !important;
}
/********** End - Image Component **********/

/********** Common styles **********/
.logo {
    width: 50px !important;
    height: 50px !important;
}

.middle {
    align-content: center;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.card-border {
    border: 1px solid black;
}

.bg-white {
    /* background-color: #f0f0f0; */
    background-color: transparent;
}
/********** End - Common styles **********/


       



 






