.tab {
    border:1px red solid; 
    text-align: center;
    width: 20%;
    background-color:purple;


    
}
.link {
    width: 100px;
    color:mediumaquamarine;
    text-decoration: none;
}

.link:hover {
    color:pink;
    text-decoration: underline;
}

.tab:hover {
    background-color:blue;
    color:white;
}

.tab.active {
    background-color:blue;
    color:white;
}

.left-side {
    width: 0%;
}

.right-side {
    width: 15%;
}

.main-content {
    width: 85%;
}

.image-container img{
     float: left;
        width: 330px;
        height: 300px;
        align-items: center;
    
}

.description {

    font-size: 20px;        
    padding: 2px;
    text-align: justify;
    text-justify: auto;      
       
       
}

.image-container img .left {
    float: left;
    width: 400px;
    height: 300px;
    align-items: center;
}

.image-container img .right {
    float: right;
    width: 400px;
    height: 300px;
    align-items: center;
}